<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("MVC Application", "Index", "AppUsers", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (User.IsInRole("User"))
                {
                    @Html.ActionLink("MVC Application", "Index", "AppUsers", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("MVC Application", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Index", "Index", "AppUsers")</li>
                            <li>@Html.ActionLink("Create", "Create", "AppUsers")</li>
                            <li>@Html.ActionLink("Edit", "Edit", "AppUsers")</li>
                        }
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>

                        <li style="color:white; margin-left:500px">Hello, @User.Identity.Name</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                        <li>@Html.ActionLink("Sign Up", "SignUp", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>