@model MVCAssignment.UserRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppUser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Role1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Role1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
